.about hr{
    margin: 0;
    width: 65%;
}
.aboutText{
    width: 50%;
}
.heading *{
    margin: 0%;
}
.heading{
    margin-bottom: 5%;
}
.heading h2{
    font-size: 3rem;
    color: #E7E9E9;
}
.heading h3{
    font-size: 1.5rem;
    color: #BAC3CF;
}
.aboutText p{
    font-size: 1rem;
    color: #BAC3CF;
}
.aboutText p span{
    color: #E7E9E9;
    font-weight: 500;
}
.img{
    width: 30%;
    aspect-ratio: 1/1;
    border-radius: 30px;
    overflow: hidden;
    background: url(../images/background.jpg);
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    filter: blur(0.5px) grayscale(0.8);
    transition: 0.5s all linear;
}
.img img{
    right: 0;
    bottom: 0;
    height: 100%;
    aspect-ratio: 1/1;
    transition: 0.5s all linear;
}
.img:hover{
    filter: blur(0px) grayscale(0) drop-shadow(10px 10px 15px black);
}
.img:hover > img{
    height: 110%;
}