.projects .wrap{
    flex-direction: column;
}
.projects .wrap > *{
    padding: 20px 0;
}
.projects hr{
    margin: 0;
    width: 70%;
}
.projectDetails{
    width: 95%;
    display: flex;
}
.projectDetails img{
    aspect-ratio: 194/100;
    width: 60%;
}
.projectText{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    right: 5%;
    z-index: 1;
}
.projectText h2{
    font-size: 3rem;
    font-weight: 500;
    text-align: right;
    color: #BAC3CF;
    margin: 0 0 20px 0;
}
.details{
    height: 45%;
    width: 100%;
    display: flex;
    align-items: center;
    background: #03274A;
    box-shadow: 10px 10px 25px black;
    text-align: center;
    color: #BAC3CF;
}
.details p{
    margin: 0;
    padding: 0 5px;
}
.details span{
    color: #e7e9e9;
}
.projectText>p span{
    color: #F14B4B;
    font-family: 'Inconsolata', monospace;
    padding: 0 10px;
}
.platforms img{
    height: 2rem;
}
.platforms img:hover{
    position: relative;
    top: 2px;
}
.platforms a{
    display: inline-block;   
}
@media only screen and (max-width: 1024px) {
    .projectDetails{
        width: 100%;
    }
    .details{
        height: 50%;
    }
}
@media only screen and (max-width: 768px) {
    .projectDetails{
        display: none;
    }
    .details{
        height: 50%;
    }
}